<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
      <% if(restaurant.perfil.perfilPhoto != "") { %>
        <img src="<%=restaurant.perfil.perfilPhoto%>" alt="Logo do restaurant" class="img-fluid" style="max-width: 42px;">  
        <a class="navbar-brand" href="/restaurants/<%= restaurant.name %>"><%= restaurant.name %></a>
      <% } else { %> 
        <img src="/images/Plataform/LogoSite/logo.png" alt="Logo do Site" class="img-fluid" style="max-width: 42px;"> 
        <a class="navbar-brand" href="/<%= restaurant.name %>">Click&Eat</a>
      <% } %>

      <%- include('../../navBarPages/navBarBase') %>
  </div>
</nav>