<div class="row bg-white p-4 rounded shadow mb-4">
    <div class="col-12 text-center">
      <h1 class="section-title mb-3"><%= restaurant.name %></h1>
    </div>


    <% if (aut) { %>
      <div class="col-12 text-start my-2">
        <a 
          href="/restaurants/<%= restaurant.name %>/editDados/<%= restaurant._id %>" 
          class="btn btn-primary btn-sm shadow py-2 px-3"
          role="button"
        >
          Editar Dados
        </a>
      </div>
    <% } %>
    <div class="col-12">
      <p><strong>Descrição:</strong> <%= restaurant.description %></p>
    </div>
    <div class="col-md-6">
      <p><strong>Número de telefone:</strong> <%= restaurant.perfil.phoneNumber %></p>
    </div>
    <div class="col-md-6">
      <p><strong>Email:</strong> <%= restaurant.perfil.email %></p>
    </div>
    <div class="col-md-6">
      <p><strong>Morada:</strong> <%= restaurant.address.street %></p>
    </div>
    <div class="col-md-6">
      <p><strong>Cidade:</strong> <%= restaurant.address.city %></p>
    </div>
    <div class="col-md-6">
      <p><strong>Código Postal:</strong> <%= restaurant.address.postal_code %></p>
    </div>
</div>  