<div class="row bg-white p-4 rounded shadow mb-4">
    <div class="col-12 mb-0">
        <h2 class="section-title text-center">Menus</h2>
    </div>

    <% if (autEdit) { %>
        <div class="col-12 text-center mb-4">
            <a href="/restaurants/<%= restaurant.name %>/createMenu" class="btn btn-success">Adicionar Menu</a>
        </div>
    <% } %>

    <!-- Filtro para os menus -->
<div class="col-12 mb-4">
    <form action="/restaurants/<%= restaurant.name %>/search" method="GET" class="row g-3 align-items-end">
        <div class="col-md-4">
            <label for="mameMenu" class="form-label fw-bold">Nome do Menu:</label>
            <input type="text" 
                   class="form-control shadow-sm" 
                   name="mameMenu" 
                   id="mameMenu" 
                   placeholder="Digite o nome do menu" 
                   maxlength="50" 
                   pattern="[A-Za-z\s]*"
                   value="<%= filters.name %>">
        </div>
        
        <% if (categories && categories.length > 0) { %>
            <div class="col-md-4">
                <label for="type" class="form-label fw-bold">Tipo do Menu:</label>
                <select name="type" id="type" class="form-select shadow-sm">
                    <option value="all">Todas</option>
                    <% categories.forEach(function(category) { %>
                        <option value="<%= category %>" <%= filters.priority === category ? 'selected' : '' %>><%= category %></option>
                    <% }); %>
                </select>
            </div>
        <% } %>

        <div class="col-md-4">
            <label for="order" class="form-label fw-bold">Ordenação:</label>
            <select name="order" id="order" class="form-select shadow-sm">
                <option value="no" <%= filters.order === "no" ? 'selected' : '' %>>- Selecione uma Opção -</option>
                <option value="nameAsc" <%= filters.order === "nameAsc" ? 'selected' : '' %>>Nome (A-Z)</option>
                <option value="nameDesc" <%= filters.order === "nameDesc" ? 'selected' : '' %>>Nome (Z-A)</option>
                <option value="typeAsc" <%= filters.order === "typeAsc" ? 'selected' : '' %>>Tipo de Menu (A-Z)</option>
                <option value="typeDesc" <%= filters.order === "typeDesc" ? 'selected' : '' %>>Tipo de Menu (Z-A)</option>  
            </select>
        </div>

        <div class="col-12 d-flex justify-content-end">
            <a href="/restaurants/<%= restaurant.name %>" class="btn btn-outline-secondary me-2 shadow-sm">Limpar</a>
            <button type="submit" class="btn btn-primary shadow-sm">Filtrar</button>
        </div>
    </form>
</div>

    <% if (menus.length > 0) { %>
        <!-- Cards dos menus -->
        <div class="row">
            <% for (let i = 0; i < menus.length; i++) { %>
              <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-sm border-0">
                  <a href="/restaurants/<%= restaurant.name %>/showMenu/<%= menus[i]._id %>" class="text-decoration-none w-100">
                  <div class="card-img-container position-relative">
                    <img src="<%= menus[i].photo %>" class="card-img-top rounded-top" alt="Imagem do Menu" style="height: 200px; object-fit: cover;">

                  </div>
                  <div class="card-body">
                    <h5 class="card-title text-primary"><%= menus[i].name %></h5>
                    <p class="card-text text-muted" style="font-size: 0.9rem;"><%= menus[i].description %></p>
                    <p class="card-text"><strong>Tipo:</strong> <%= menus[i].type %></p>
                  </div>
                  <% if(user !== null && user.perfil !== null && 
                    (user.perfil.priority === "Dono" || user.perfil.priority === "Admin")) { %>
                  <div class="card-footer bg-white border-0 d-flex justify-content-between">
                      <a href="/restaurants/<%= restaurant.name %>/editMenu/<%= menus[i]._id %>" class="btn btn-warning btn-sm rounded-circle">
                        <i class="bi bi-pencil"></i>
                      </a>
                  </div>
                  <% } %>
                </a>
                </div>
              </div>
            <% } %>
          </div>
    <% } else { %>
        <div class="col-12">
            <p class="text-center">O restaurante ainda não tem menus</p>
        </div>
    <% } %>
</div>