<div class="container">
  <form id="newOrderForm" class="row g-3 mb-5">
    <div class="card mb-4">
      <div class="card-header bg-primary text-white">
        <h5 class="mb-0">Criar encomenda</h5>
      </div>
      <div class="card-body">

        <!-- Tipo de entrega -->
        <div class="mb-3">
          <label class="form-label">Tipo de entrega</label>
          <select id="orderType" class="form-select" name="orderType" required>
            <option value="delivery">Entrega</option>
            <option value="pickup">Recolha no restaurante</option>
          </select>
        </div>

        <div class="mb-3 row">
          <div class="col-md-6">
            <label for="firstName" class="form-label">Primeiro Nome</label>
            <input
              type="text"
              name="firstName"
              id="firstName"
              class="form-control"
              placeholder="Introduza o primeiro nome do cliente"
              required
            />
          </div>

          <div class="col-md-6">
            <label for="lastName" class="form-label">Ultimo Nome</label>
            <input
              type="text"
              name="lastName"
              id="lastName"
              class="form-control"
              placeholder="Introduza o ultimo nome do cliente"
              required
            />
          </div>
        </div>

        <div class="mb-3">
          <label for="phoneNumber" class="form-label">Telefone:</label>
          <input type="tel" 
            name="phoneNumber" 
            id="phoneNumber" 
            class="form-control" 
            placeholder="Introduza o número telefónico do cliente"  
            pattern="[0-9]{9}" 
            title="O telefone deve ter 9 dígitos"
            required>
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input type="email" 
            name="email" 
            id="email" 
            class="form-control" 
            placeholder="Introduza o email do cliente" 
            pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$"
            maxlength="50" 
            required>
        </div>

        <!-- Morada -->
        <div class="mb-3">
          <label class="form-label">Morada</label>
          <input
            type="text"
            name="street"
            id="street"
            class="form-control"
            placeholder="Introduza a morada (rua, nº, andar)"
            required
          />
        </div>
        
        <div class="mb-3 row">
          <div class="col-md-6">
            <label for="postal_code" class="form-label">Código Postal</label>
            <input
              type="text"
              name="postal_code"
              id="postal_code"
              class="form-control"
              value="<%= restaurant.address.postal_code %>"
              readonly
              required
            />
          </div>
          <div class="col-md-6">
            <label for="city" class="form-label">Cidade</label>
            <input
              type="text"
              name="city"
              id="city"
              class="form-control"
              value="<%= restaurant.address.city %>"
              readonly
              required
            />
          </div>
        </div>


        <!-- Seletor de Menus -->
        <% if(menus.length > 0) { %>
          <div class="mb-3">
            <label class="form-label">Menu</label>
            <select id="menuSelect" 
            name="menuSelect" 
            class="form-select"
            onchange="preencherPratos(this.value)"
            required>
              <option value="all">-- Escolha um menu --</option>
              <% for(let i = 0; i < menus.length; i++) { %>
                <option value="<%= menus[i].name %>"><%= menus[i].name %></option>
              <% } %>
            </select>
          </div>

          <!-- Lista de Pratos do menu -->
          <div class="mb-3">
            <div class="mb-3">
              <label class="form-label">Pratos Disponíveis</label>
              <select id="pratos" 
              name="pratos" 
              class="form-select"
              disabled 
              required>
                  <option value="all">-- Escolha um prato --</option>
              </select>
            </div>
          </div>

          <!-- Itens selecionados -->
          <div class="mb-3">
            <label class="form-label">Itens selecionados</label>
            <ul id="selectedItemsList" class="list-group"></ul>
          </div>

        <% } %>

        <!-- Total -->
        <div class="mb-3">
          <label class="form-label">Total (€)</label>
          <input
            type="number"
            name="totEncomenda"
            id="totEncomenda"
            step="0.01"
            class="form-control"
            value="0.00"
            readonly
            required
          />
        </div>

        <!-- Campo oculto para itens JSON -->
        <input type="hidden" name="itens" id="itensInput" />

        <div class="mb-3">
          <button class="btn btn-success">Criar Encomenda</button>
        </div>
      </div>
    </div>
  </form>
  
  <script type="application/json" id="menus-data">
    <%- JSON.stringify(menus) %>
  </script>

  <script src="/javascripts/Restaurants/Restaurant/Order/createOrder.js"></script>
</div>