<!DOCTYPE html>
<html lang="pt-PT">
    <head>
        <meta charset="UTF-8"/>
        <title>Gestão de Pedidos</title>
        <link rel="icon" href="/images/Plataform/LogoSite/logo.png" />

        <!-- Bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
    </head>

    <body>
        <%- include('../navBarRest') %>

        <div class="container">
            <!-- Filtro -->
            <div class="row justify-content-center align-items-center mb-4">
                <form action="restaurants/<%= restaurant.name %>/orders/orderManagement/search" method="GET" class="col-md-8 col-lg-6">
                    <div class="row g-3 justify-content-center">
                        <div class="col-md-6">
                            <label for="estado" class="form-label">Estado:</label>
                            <select name="" id="" class="form-select" required>
                                <option value="all" <%= filters.estado === "all" ? 'selected' : '' %>>Todos</option>
                                <option value="Pendente" <%= filters.estado === "Pendente" ? 'selected' : '' %>>Pendente</option>
                                <option value="Expedida" <%= filters.estado === "Expedida" ? 'selected' : '' %>>Expedida</option>                        
                            </select> 
                        </div>
    
                        <div class="col-12 d-flex justify-content-center gap-2 mt-3">
                            <button type="submit" class="btn btn-primary btn-sm">Filtrar</button>
                            <a href="restaurants/<%= restaurant.name %>/orders/orderManagement" class="btn btn-secondary btn-sm">Clear</a>
                        </div>
                    </div> 
                </form>
            </div>

            <!-- Varias Orders-->
            <div class="row justify-content-center align-items-center mb-4">
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Order: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</h5>
                            <p class="card-text">Cliente: xxxxxx xxxxxxxx</p>
                            <p class="card-text">Numero Telefoncio: xxxxxxxxxxxxxxxxxxxxxxx</p>
                            <p class="card-text">Morada: xxxxxxxxxxxxxxx</p>
                            <p class="card-text">Preço: xxxxxxxxxxxxxxxxxxxxxxx</p>
                            <p class="card-text">xxxxxxx Itens</p>
                            <div class="col-md-6">
                                <label for="estado" class="form-label">Estado:</label>
                                <select name="" id="" class="form-select" required>
                                    <option value="Pendente">Pendente</option>
                                    <option value="Expedida">Expedida</option>                        
                                    <option value="Entregue">Entregue</option>
                                </select> 
                            </div>

                            <!-- Falta meter o id da order-->
                            <a href="/restaurants/<%= restaurant.name %>/orders/orderManagement/cancelOrder" class="btn btn-sm">Apgar Order</a>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>

        <!-- Depois meter um if-->

        
    </body>
</html>