<!DOCTYPE html>
<html lang="pt-PT">
    <head>
        <meta charset="UTF-8"/>
        <title>Gestão de Pedidos</title>
        <link rel="icon" href="/images/Plataform/LogoSite/logo.png" />

        <!-- Bootstrap-->
        <link rel="stylesheet" href="/stylesheets/sinoNavBar.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
    
        <!-- CSS -->
        <link rel="stylesheet" href="/stylesheets/Restaurants/navBar.css">
        <link rel="stylesheet" href="/stylesheets/sinoNavBar.css">
    </head>

    <body>
        <%- include('../navBarRest') %>

        <div class="container">
            <!-- Filtro -->
            <div class="row justify-content-center align-items-center mb-4">
                <form action="restaurants/<%= restaurant.name %>/orders/orderManagement/search" method="GET" class="col-md-8 col-lg-6">
                    <div class="row g-3 justify-content-center">
                        <div class="col-md-6">
                            <label for="estado" class="form-label">Estado:</label>
                            <select name="" id="" class="form-select" required>
                                <option value="all" <%= filters.estado === "all" ? 'selected' : '' %>>Todos</option>
                                <option value="Pendente" <%= filters.estado === "Pendente" ? 'selected' : '' %>>Pendente</option>
                                <option value="Expedida" <%= filters.estado === "Expedida" ? 'selected' : '' %>>Expedida</option>                        
                            </select> 
                        </div>
    
                        <div class="col-12 d-flex justify-content-center gap-2 mt-3">
                            <button type="submit" class="btn btn-primary btn-sm">Filtrar</button>
                            <a href="restaurants/<%= restaurant.name %>/orders/orderManagement" class="btn btn-secondary btn-sm">Clear</a>
                        </div>
                    </div> 
                </form>
            </div>

            <% if (orders.length > 0) { %>
                <div class="row">
                    <% orders.forEach(function(order) { %>
                        <div class="col-md-4 mb-4">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h5 class="card-title">Order: <%= order._id %></h5>
                                    <p class="card-text">Cliente: <%= order.client.firstName %> <%= order.client.lastName %></p>
                                    <p class="card-text">Número Telefónico: <%= order.client.phoneNumber %></p>
                                    <% if (order.addressOrder.nif) { %>
                                        <p class="card-text">NIF: <%= order.addressOrder.address.nif %></p>
                                    <% } %>
                                    <p class="card-text">Morada: <%= order.addressOrder.address.street %>, <%= order.addressOrder.address.postal_code %>, <%= order.addressOrder.address.city %></p>
                                    <p class="card-text">Preço: <%= order.price.toFixed(2) %>€</p>
                                    <p class="card-text"><%= order.itens.length %> Itens</p>
                                    
                                    <form action="/restaurants/<%= restaurant.name %>/orders/orderManagement/updateStatus/<%= order._id %>" method="POST">
                                        <div class="mb-2">
                                            <label for="estado-<%= order._id %>" class="form-label">Estado:</label>
                                            <select name="status" id="estado-<%= order._id %>" class="form-select form-select-sm" required>
                                                <option value="Pendente" <%= order.status === "Pendente" ? 'selected' : '' %>>Pendente</option>
                                                <option value="Expedida" <%= order.status === "Expedida" ? 'selected' : '' %>>Expedida</option>
                                                <option value="Entregue" <%= order.status === "Entregue" ? 'selected' : '' %>>Entregue</option>
                                            </select>
                                        </div>
                                        <button type="submit" class="btn btn-sm ">Atualizar Estado</button>
                                    </form>

                                    <form action="/restaurants/<%= restaurant.name %>/orders/orderManagement/cancelOrder/<%= order._id %>" method="POST" class="d-inline">
                                        <button type="submit" class="btn btn-sm btn-outline-danger">Apagar Order</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
              <% } else { %>
                <div class="col-12">
                  <p class="text-center">Ainda não existem encomendas.</p>
                </div>
              <% } %>
              
                   
        </div>    
    </body>
</html>