<div class="form-group">
    <label for="firstName">First name</label>
    <input 
      type="text" 
      name="firstName" 
      id="firstName" 
      class="form-control" 
      placeholder="Input first name" 
      value="<%= typeof firstName !== 'undefined' ? firstName : '' %>"
      required
      pattern="^[A-Za-zÀ-ÿ\s]+$"
      oninvalid="handleInvalidInput(this)"
      oninput="this.setCustomValidity('')"
    />
    <div class="invalid-feedback">
      O nome deve conter apenas letras e espaços, e não pode estar vazio.
    </div>
</div>

<div class="form-group">
    <label for="lastName">Last name</label>
    <input 
      type="text" 
      name="lastName" 
      id="lastName" 
      class="form-control" 
      placeholder="Input last name" 
      value="<%= typeof lastName !== 'undefined' ? lastName : '' %>" 
      pattern="^[A-Za-zÀ-ÿ\s]+$"
      oninvalid="handleInvalidInput(this)"
      oninput="this.setCustomValidity('')"
      required
    />
    <div class="invalid-feedback">
      O nome deve conter apenas letras e espaços, e não pode estar vazio.
    </div>
</div>

<div class="form-group">
    <label for="email">Email</label>
    <input 
      type="email" 
      name="email" 
      id="email" 
      class="form-control" 
      placeholder="example@gmail.com" 
      value="<%= typeof email !== 'undefined' ? email : '' %>" 
      pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$"
      required
    />
    <div class="invalid-feedback">
      O email deve ser válido e não pode estar vazio. Exemplo: example@gmail.com
    </div>
</div>

<div class="form-group">
    <label for="phoneNumber">Telefone:</label>
    <input type="tel" 
    name="phoneNumber" 
    id="phoneNumber" 
    class="form-control" 
    placeholder="Introduza o número telefónico" 
    value="<%= typeof phoneNumber !== 'undefined' ? phoneNumber : '' %>" 
    pattern="[0-9]{9}" 
    title="O telefone deve ter 9 dígitos"
    required>
</div>

<div class="form-group">
    <label for="password">Password</label>
    <input 
      type="password" 
      name="password" 
      id="password" 
      class="form-control" 
      placeholder="Enter at least 8+ characters"
      value="<%= typeof password !== 'undefined' ? password : '' %>"
      minlength="8" 
      required
    />
    <div class="invalid-feedback">
      A password deve ter pelo menos 8 caracteres e não pode estar vazia.
    </div>
</div>

<div class="form-group">
    <label for="confirmPassword">Repeat password</label>
    <input 
      type="password" 
      name="confirmPassword" 
      id="confirmPassword" 
      class="form-control" 
      placeholder="Enter at least 8+ characters"
      value="<%= typeof confirmPassword !== 'undefined' ? confirmPassword : '' %>"
      minlength="8" 
      required
      oninput="validatePassword()"
    />
    <div class="invalid-feedback">
      As passwords não são iguais.
    </div>
</div>

<!-- Importação dos js de validação-->
<script src="/javascripts/validations/validatePassword.js"></script>
<script src="/javascripts/validations/validationName.js"></script>
<script src="/javascripts/validations/validateSubmit.js"></script>