<!DOCTYPE html>
<html lang="pt-PT">
    <head>
        <title>Lista de users</title>
        <!-- Logo do site -->
        <link rel="icon" type="image/png" href="/images/Plataform/LogoSite/logo.png" />

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

        <link rel="stylesheet" href="/stylesheets/Perfils/lists.css">
        <link rel="stylesheet" href="/stylesheets/Perfils/navBar.css">
    </head>

    <body>
        <%- include('../../navBar') %>

        <div class="container">
        <h1 class="text-center my-4">Lista de Utilizadores</h1>

        <!-- Verificas se os links est達o bem
        Meter para caso esteja banido, aparecer o bot達o de desban, e caso n達o esteja banido
        o bot達o de banido 
        -->
        <% if (users.length > 0) { %>
            <div class="row justify-content-center">
            <% for(let i = 0; i < users.length; i++) { %>
                <div class="col-md-4 mb-4">
                <div class="restaurant-card text-center border rounded p-3 shadow-sm">
                    <h5 class="mb-3"><%= users[i].firstName %> <%= users[i].lastName%></h5>
                    <p class="mb-3">Email: <%= users[i].perfil.email %></p>
                    <p class="mb-3">Telefone: <%= users[i].perfil.phoneNumber %></p>
                    <div class="btn-group d-flex justify-content-center">
                    
                        <form action="/users/listUsers/deleteUser/<%= users[i]._id %>" method="POST">
                            <button type="submit" class="btn btn-danger">Remover</button>
                        </form>
                        
                        <form action="/users/listUsers/editUser/<%= users[i]._id %>" method="GET">
                            <button type="submit" class="btn btn-primary">Editar</button>
                        </form>

                        <form action="/users/listUsers/banUser/<%= users[i]._id %>" method="GET">
                            <button type="submit" class="btn btn-primary">Banir</button>
                        </form>
                    </div>

                    <p class="mt-3">
                        <a href="/users/listUsers/showUser/<%= users[i]._id %>" class="text-decoration-none">Mais Info.</a>
                    </p>
                </div>
                </div>
            <% } %>
            </div>
        <% } else { %>
            <p class="text-center">Ainda sem utilizadores registados</p>
        <% } %>
        </div>

        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>