<!DOCTYPE html>
<html lang="pt-PT">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Detalhes da Encomenda</title>

        <!-- Icon -->
        <link rel="icon" type="image/png" href="/images/Plataform/LogoSite/logo.png" />
        
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />

        <!-- CSS -->
        <link rel="stylesheet" href="/stylesheets/Perfils/orders/showOrder.css">
    </head>
    <body>
        <main>
            <div class="order-container">
                <h2 class="order-header">Encomenda #<%= order._id %></h2>
                <div class="form-group">
                    <label>Data da encomenda:</label>
                    <p class="form-control-plaintext"><%= order.date %></p>
                </div>

                <% if (priority === "Restaurant") { %>
                    <h4>Dados do Cliente</h4>
                    <div class="form-group">
                        <label>Nome:</label>
                        <p class="form-control-plaintext"><%= order.client.firstName %> <%= order.client.lastName %></p>
                    </div>
                    <div class="form-group">
                        <label>Email:</label>
                        <p class="form-control-plaintext"><%= order.client.email %></p>
                    </div>
                    <div class="form-group">
                        <label>Telefone:</label>
                        <p class="form-control-plaintext"><%= order.client.phoneNumber %></p>
                    </div>
                <% } else { %>
                    <h4>Dados do Restaurante</h4>
                    <div class="form-group">
                        <label>Nome:</label>
                        <p class="form-control-plaintext"><%= order.client.name %></p>
                    </div>
                    <div class="form-group">
                        <label>Email:</label>
                        <p class="form-control-plaintext"><%= order.client.email %></p>
                    </div>
                    <div class="form-group">
                        <label>Telefone:</label>
                        <p class="form-control-plaintext"><%= order.client.phoneNumber %></p>
                    </div>
                <% } %>

                <h4>Endereço de Entrega</h4>
                <div class="form-group">
                    <label>Morada:</label>
                    <p class="form-control-plaintext">
                    <%= order.addressOrder.address.street %>,
                    <%= order.addressOrder.address.postal_code %>,
                    <%= order.addressOrder.address.city %>
                    </p>
                </div>

                <% if (order.addressOrder.nif) { %>
                    <div class="form-group">
                        <label>NIF:</label>
                        <p class="form-control-plaintext"><%= order.addressOrder.nif %></p>
                    </div>
                <% } %>

                <h4>Itens da Encomenda</h4>
                <% if (order.itens.length > 0) { %>
                    <% order.itens.forEach(function(item) { %>
                        <div class="form-group">
                            <label><%= item.nameDish %></label>
                            <p class="form-control-plaintext">
                                Nome: <%= item.item %> |Porção: <%= item.portion %> | Quantidade: <%= item.quantity %> | Preço: €<%= item.price.toFixed(2) %>
                            </p>
                        </div>
                    <% }); %>
                <% } else { %>
                    <div class="form-group">
                        <p class="text-center">A encomenda não tem pratos</p>
                    </div>
                <% } %>

                <div class="form-group">
                    <label>Total da entrega:</label>
                    <p class="form-control-plaintext">€<%= order.price.toFixed(2) %></p>
                </div>

                
                <div class="d-grid gap-2">  
                    <a href="/restaurants/<%= order.restaurant.name %>/orders/historic" class="btn btn-secondary">Voltar</a>
                </div>
            </div>
        </main>
    </body>
</html>