<li class="nav-item">
  <% switch (user.perfil.priority) { 
    case 'Admin': %>
        <% /* Admin profile */ %>
            <a class="nav-link" href="/perfil/admin">
                <img 
                src="<%= user.perfil.perfilPhoto || '/images/Plataform/DefaultUser.png' %>" 
                alt="Profile" 
                class="img-fluid rounded-circle"  
                style="max-width: 25px;"
                > 
                Perfil
            </a>
        <% break; %>

        <% case 'Cliente': %>
            <a class="nav-link" href="http://localhost:4200/perfil/user/<%= user._id %>">
                <img 
                src="<%= user.perfil.perfilPhoto || '/images/Plataform/DefaultUser.png' %>" 
                alt="Profile" 
                class="img-fluid rounded-circle"  
                style="max-width: 25px;"
                > 
                Perfil
            </a>
        <% break; %>

        <% case 'Restaurant': %>
            <a class="nav-link" href="/restaurants/<%= user.name %>">
                <img 
                src="<%= user.perfil.perfilPhoto || '/images/Plataform/DefaultUser.png' %>" 
                alt="Profile" 
                class="img-fluid rounded-circle" 
                style="max-width: 25px;"
                > 
                Perfil
            </a>
        <% break; %>

        <% case 'Dono': %>
            <div class="d-flex align-items-center gap-3">
                <a class="nav-link d-flex align-items-center gap-1" href="/restaurantsDono/<%= user._id %>">
                <i class="bi bi-shop" style="font-size: 1.2rem;"></i>
                    Meus Restaurantes
                </a>

                <a class="nav-link d-flex align-items-center gap-1" href="http://localhost:4200/perfil/user/<%= user._id %>">
                    <img 
                        src="<%= user.perfil.perfilPhoto || '/images/Plataform/DefaultUser.png' %>" 
                        alt="Profile" 
                        class="img-fluid rounded-circle" 
                        style="max-width: 25px;"
                    > 
                Perfil
                </a>
            </div>
        <% break; %>


        <% default: %>
            <% break; %>
  <% } %>
</li>
